@use 'variable';
@use 'mixin';

.inner {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

@include mixin.autoColor();

.header {
  background-color: variable.$navy;

  font: {
    size: 0;
    decoration: none;
  }

  &__box {
    padding: 10px;
    background-color: variable.$white;
    margin: 20px 20px 20px auto;

    &__btn {
      @include mixin.headerBox();

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.sidebar {
  height: 250px;
  width: 150px;
  background-color: variable.$green;
}

.main {
  height: 250px;
  width: 250px;
  background-color: variable.$red;

  &__box {
    margin: 40px auto auto 40px;

    &__child {
      padding: 5px;
      background-color: variable.$white;
      display: inline-block;
    }
  }

  &__btn {
    height: 40px;
    width: 140px;
  }
}

.footer {
  height: 100px;
  background-color: variable.$brown;
}